@import '../../App.scss';
.btn {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    button {
        flex-basis: 40%;
        padding: 1rem;
        font-size: 2rem;
        background: $red;
        color: $white;
        border: none;
        margin: 1rem;
        cursor: pointer;
    }
}