// Colors
$black: #000;
$red: #EF321F;
$white: #e5e5e5;
$grey: #2b2929;
$transparent-grey: rgba(51, 51, 51, 0.4);
$salmon :salmon;
$yellow: #ffd83d;
// Spinner
$spinner: $salmon;
$background: $black;
$size: 3rem;